body,
html {
    background-color: hsla(100, 100%, 100%, 1);
    margin: 0;
    padding: 0;
}

*,
::before,
::before,
div {
    box-sizing: border-box;
    overflow: hidden;
}

.pageName {
    display: inline-block;
    color: rgba(0, 0, 0, 1);
    font-size: 1.4em;
    word-spacing: -0.15em;
    font-weight: bolder;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.navBar {
    height: 4em;
    width: 100vw;
    padding: 1em 2.5em 0.5em 1.5em;
    background-color: hsla(0, 80%, 19%, 0.1);
    border-radius: 0.5em;
    white-space: nowrap;
}

.navBarItems {
    float: right;
    padding-right: 3em;
}

.itemContainer {
    padding: 0.65em;
}

.searchIcon {
    padding-right: 1.3em;
    color: hsla(28, 100%, 50%, 0.842);
}

.searchIcon svg {
    transform: translateY(28%);
}
.svgForInfinity {
    transform: translateY(30%);
}

.searchIcon:hover {
    color: grey;
}
.searchIcon:hover::before {
    content: "Search";
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    transform: translate(70%, -100%);
    padding-bottom: 0.2em;
}

.navBar a {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: rgba(0, 0, 0);
}

.navBar a:hover {
    color: darkslategray;
}

h4 i:hover {
    cursor: pointer;
}

i {
    color: red;
    text-decoration: underline;
    display: inline-block;
    transform: translateX(70%);
}

/* Styling For Button */
button {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: bolder;
    font-size: 0.9rem;
    color: red;
    visibility: hidden;
    display: inline-block;
    transform: translateX(50%);
}

button:hover {
    color: hsla(28, 82%, 60%, 0.842);
    cursor: pointer;
}

.visible {
    visibility: visible;
}
.invisible {
    visibility: hidden;
}
.appearedText {
    display: inline-block;
    transform: translateX(-12%);
}

/* Translate the span text in the h4 to align properly with other elements*/
h4 span {
    display: inline-block;
    transform: translateX(25%);
}

/* Animation Section */
.mainContainer {
    margin-top: 2rem;
    margin-bottom: -1rem;
    display: grid;
    text-align: center;
}

.helloMessage {
    margin-bottom: 0;
}
.rulerForHello {
    width: 5rem;
}

.secondContainer {
    display: grid;
    place-items: center;
}

.animatedContainer {
    width: 20vw;
    height: 30vh;
    background-color: hsla(0, 80%, 19%, 0.1);
    border: 0.3rem solid rgb(0, 0, 0);
    border-radius: 0.2rem;
    display: grid;
    align-content: center;
    text-align: justify;
    padding: 2rem;
}

/* Alignment for the "yeah see it down below" span  */
.alignText {
    display: inline-block;
    transform: translateX(-17%);
}

/* use keyframe for the triggered animation */
.animate {
    animation-name: containerAnimation;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-delay: 300ms;
    animation-direction: forwards;
    animation-play-state: running;
}

@keyframes containerAnimation {
    0% {
        height: 35vh;
    }

    20% {
        height: 40vh;
        width: 22vw;
    }

    40% {
        background-color: rgb(255, 255, 0);
        height: 40vh;
        width: 24vw;
    }

    60% {
        height: 45vh;
        width: 26vw;
        background-color: rgb(90, 17, 158);
    }

    80% {
        height: 52vh;
        width: 28vw;
    }

    100% {
        height: 62vh;
        width: 30vw;
        background-color: rgb(255, 99, 71);
    }
}

/* This class is attched to stop animation */
.stopAnimation {
    animation-play-state: unset;
}
